:root {
    --dark: #0c0c0c;
    --light: #faf8f8;
    --grey: #d3d3d3;
    --dark-grey: #373737;
    --gutter: 3rem;
    --large-gutter: 7rem;
}
  
html,
body {
    max-width: 100vw;
    width: 100vw;
    overflow-x: hidden;
}

html {
    background-color: var(--light);
    scrollbar-width: thin;
    scrollbar-color: var(--light) var(--dark);
}

body {
    color: var(--light);
    background: var(--dark);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 500;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

img {
    display: block;
    width: 100%;
}

h2 {
    font-size: 4rem;
    margin-bottom: var(--large-gutter);
}

h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

ul, ol {
    list-style: none;
}

section {
    padding: var(--large-gutter) var(--gutter);
}

.numbered-item::before {
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    border: 2px solid var(--dark-grey);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 1.1rem;
    line-height: 1.5;
}

.grid {
    display: grid;
}

.nav-item {
    font-size: 1.1rem;
    position: relative;

    &::before {
        position: absolute;
        display: block;
        content: '';
        height: 1px;
        bottom: -4px;
        left: 0;
        width: 100%;
        background-color: var(--light);
        pointer-events: none;
        transform-origin: 100% 50%;
        transform: scale3d(0, 1, 1);
        transition: transform 0.3s ease-out;
    }

    &:hover::before {
        transform-origin: 0% 50%;
        transform: scale3d(1, 1, 1);
    }
}

.logo {
    width: 40px;
    height: auto;
}

@media (max-width: 1024px) {
    :root {
        --gutter: 1rem;
        --large-gutter: 5rem;
    }

    h2 {
        text-align: left;
        font-size: 2.2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .numbered-item::before {
        width: 35px;
        height: 35px;
        font-size: 1rem;
    }

    .text {
        font-size: 1rem;
    }

    .logo {
        width: 30px;
    }
}

@media (max-width: 768px) {
    .nav-item {
        font-size: 1rem;

        &::before {
            display: none;
        }
    }
}
  