.team {
    background-color: var(--black);
    position: relative;
    z-index: 2;

    &__cards {
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        column-gap: var(--gutter);
        row-gap: 4rem;
    }

    &__card {
        border-bottom: 2px solid var(--white);

        > img {
            border-radius: 10px;
            height: auto;
        }

        &__details {
            padding: 2rem 0;
            display: flex;
            justify-content: space-between;
            gap: 1rem;

            > h3 {
                max-width: 200px;
                margin-bottom: 0;
            }

            > span {
                color: var(--grey);
                text-align: right;
            }
        }
    }
}

@media (max-width: 1024px) {
    .team__cards {
        row-gap: 2rem;
    }
}