.header {
    position: fixed;
    width: 100vw;
    z-index: 10;
    padding: calc(var(--gutter) / 2) var(--gutter);
    mix-blend-mode: difference;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo-container {
        display: flex;
        align-items: center;
    }

    &__menu-container {
        right: var(--gutter);
        display: flex;
        align-items: center;
        mix-blend-mode: difference;
    }
}

.nav--desktop > ul {
    display: flex;
    align-items: center;
    gap: var(--gutter);
}

.nav--mobile {
    display: none;
}

@media (max-width: 1024px) {
    .nav--desktop {
        display: none;
    }

    .nav--mobile {
        display: block;
        position: fixed;
        z-index: 3;
        right: var(--gutter);
        top: 80px;
        background-color: var(--light);
        width: calc(100% - (2 * var(--gutter)));
        max-width: 350px;
        border-radius: 10px;
        padding: 5rem var(--gutter) var(--gutter) var(--gutter);
        transform-origin: top right;

        > ul {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            font-size: 1.5rem;
            font-weight: 600;
            mix-blend-mode: difference;

            > li {
                overflow: hidden;
            }
        }
    }
}